<!--The header for my application-->
<mat-toolbar>
  <span class="center-horizontal">{{ title }}</span>
  <span class="example-spacer"></span>
  <div class = "buttons">
    <div class = "raised">
      <button *ngIf="showCreateAuthorButton" mat-raised-button color = primary (click) = "openCudAuthors()"> Create Author </button>
      <button mat-raised-button color = primary (click) = "displayAuthors()"> Display Authors </button>
      <button mat-raised-button color = primary (click) = "displayBooks()"> Search Books </button>
  </div>
</div>
</mat-toolbar>
<!--routes between displaying authors & books-->
<router-outlet></router-outlet>
